@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body,
html,
button {
  margin: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  height: 100%;
  padding: 30px 32px 30px 32px;
  background: #fff;
  box-shadow: 2px 0 2px 0 rgb(0 0 0 / 15%);
}

.content-header {
  margin-bottom: 30px;
}

h1.title {
  text-transform: uppercase;
  color: #3d4853;
  width: 140px;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 0;
  cursor: pointer;
  transition: color 0.2s ease-out;
}

h1.title:hover {
  color: #999999;
}

.btn:nth-child(1),
.btn:nth-child(4),
.btn:nth-child(7),
.picker:nth-child(1) {
  margin-left: 0;
}

#selected {
  background: #f1f4f8;
}

span.label {
  display: block;
  margin-top: 16px;
  font-size: 0.8125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.colors-content {
  display: flex;
}

.gradient {
  width: -webkit-fill-available;
  height: 100%;
  position: absolute;
  z-index: -1;
  margin-left: 320px;
}
